modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 8099

[[ports]]
localPort = 19174
externalPort = 3001

[[ports]]
localPort = 22733
externalPort = 3000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-39c5ecc1-e02e-4d89-a37f-dbf3afe27409"
